.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: all;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 40%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 5px solid black;
}

.model-border-lines-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
  width: 100%;
  height: 10%;
}

.model-border-lines-image {
  width: 97%;
  height: 70%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.modal-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;

  width: 100%;
  height: 90%;
  padding-bottom: 20px;
}

.text-line {
  padding: 2px;
}

.text-input {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

input[type='text'] {
  font-family: 'Egg Font';
  font-size: 1em;
}

input:focus {
  outline: none;
}
